
body {
    background-color: grey;
    background-image: linear-gradient(to bottom right, grey, black);
}

header {
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    background-color: black;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 15px;
}

header, footer {
    text-align: center;
}

p {
color: white;
font-style: italic;
}

img {
    border: 5px solid black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


ul {
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

ul.bio {
    list-style-type: square;
}